<html>
  <head>
    <meta charset="utf-8" />
    <title>Booking Confirmation</title>
    <style>
      /* Add your custom styles here */ body { font-family: Arial, sans-serif; }
      .container { color: rgb(30, 30, 128); max-width: 600px; margin: 0 auto;
      padding: 20px; border: 1px solid #ccc; border-radius: 4px;
      background-color: #f9f9f9; } .header { text-align: center; margin-bottom:
      20px; } .content { text-align: center; margin-bottom: 20px; } .footer {
      text-align: center; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Booking Confirmation</h2>
      </div>
      <div class="content">
        <img
          src="https://ik.imagekit.io/nk6wikwqs/girl-with-red-hat-pN-Prl1jMVM-unsplash.jpg?updatedAt=1688066446668"
          alt="Image"
          width="400"
          height="200"
        />
        <p>Your booking for the date {{date}} has been confirmed.</p>

      </div>
      <div class="footer">
        <p>Thank you for booking with us!</p>
      </div>
    </div>
  </body>
</html>